.display-contact{
  margin: 10vh auto;
  border: 1px solid #3b3b3b;
  padding: 10%;
}

.display-contact {
  width: 70%;
  margin: 30px auto;
  padding: 50px;
  background-color: #F5F5F5;
  color: #333;
}


